@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #181818;
    --color-dark-light: #212121;
    --color-dark-extralight: #303030;
    --color-dark-soft: #424242;
}
