@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #0f0f0f;
    --color-dark-light: #212121;
    --color-dark-extralight: #303030;
    --color-dark-soft: #424242;
    --font-sans: 'Quicksand', system-ui, sans-serif;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/quicksand-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/quicksand-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/quicksand-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/quicksand-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/quicksand-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

